<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div class="container d-flex align-items-center justify-content-center wh-100 shadow p-8" style="margin-top:100px;">
    <div class="card">

            <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                      <h1>Area trapecio</h1>
                      <div class="input-group">
                        <input name="a" id="a" type="text" style="width : 100px" required class="form-control a" placeholder="Altura" [(ngModel)]="a">
                        <span class="input-group-addon">* (</span>
                        <input name="b1" id="b1" type="text" style="width : 100px"required class="form-control b1" placeholder="Base 1" [(ngModel)]="b1">
                        <span class="input-group-addon">+</span>
                        <input name="b2" id="b2" type="text" style="width : 100px" required class="form-control b2" placeholder="Base 2" [(ngModel)]="b2">
                        <span class="input-group-addon">) / 2=</span>
                        <label class="form-control result" style="width : 100px">{{ result }}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <div class="p-3 text-center">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group" role="group">
                            <div class="col-auto">
                                <button type="input" class="btn btn-primary" (click)="area()">Calcular</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-4 ">
                    <p class="text-center p-4"><img src="../assets/imagenes/area.jpg" alt="" style="width: 50%"></p>
                 </div>
    </div>  
</div>